<?xml version='1.0' encoding='utf-8'?>
<widget id="com.semetonhondabali.hondacare" version="1.0.20" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Semeton Honda Care</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="land-hdpi" src="screen/android/splash-land-hdpi.png" />
        <splash density="land-ldpi" src="screen/android/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="screen/android/splash-land-mdpi.png" />
        <splash density="land-xhdpi" src="screen/android/splash-land-xhdpi.png" />
        <splash density="port-hdpi" src="screen/android/splash-port-hdpi.png" />
        <splash density="port-ldpi" src="screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="screen/android/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="screen/android/splash-port-xhdpi.png" />
    </platform>
    <preference name="android-build-tool" value="gradle" />
    <preference name="phonegap-version" value="cli-7.1.0" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-googlemaps" spec="^2.2.0">
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyB_VgUp3ljtQKOx5fgkRAcMWsitmVHwMjw" />
        <variable name="API_KEY_FOR_IOS" value="AIzaSyB_VgUp3ljtQKOx5fgkRAcMWsitmVHwMjw" />
    </plugin>
    <plugin name="cordova-android-play-services-gradle-release" spec="^1.4.6">
        <variable name="PLAY_SERVICES_VERSION" value="15.+" />
    </plugin>
    <plugin name="onesignal-cordova-plugin" spec="^2.4.5" />
    <plugin name="cordova-plugin-nativestorage" spec="^2.3.2" />
    <plugin name="cordova.custom.plugins.exitapp" spec="~1.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-actionsheet" spec="^2.3.3" />
    <plugin name="cordova-plugin-android-gpsdetect" spec="0.0.3" />
    <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
    <plugin name="cordova-plugin-call-number" spec="^1.0.1" />
    <plugin name="cordova-plugin-core-android-extensions" spec="^1.2.0" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-insomnia" spec="https://github.com/EddyVerbruggen/Insomnia-PhoneGap-Plugin.git" />
    <plugin name="cordova-plugin-media" spec="^5.0.2" />
    <plugin name="cordova-plugin-native-ringtones" spec="^0.2.5" />
    <plugin name="cordova-plugin-qrcodejs" spec="https://github.com/MenelicSoftware/cordova-plugin-qrcodejs" />
    <plugin name="cordova-plugin-screen-locker" spec="^0.2.2" />
    <plugin name="cordova-plugin-x-toast" spec="^2.7.0" />
    <plugin name="cordova-sms-plugin" spec="^0.1.13" />
    <plugin name="io.gvox.plugin.phonecalltrap" spec="^0.1.2" />
    <plugin name="cordova-plugin-speechrecognition" spec="^1.2.0" />
    <plugin name="cordova-plugin-nativeaudio" spec="^3.0.9" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <engine name="android" spec="^7.1.2" />
    <engine name="browser" spec="^5.0.4" />
</widget>
